@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dapper + Identity 2.1 + ASP.NET</h1>
    <p class="lead">This is a Dapper implementation of Identity 2.2.1</p>
    <p><a href="http://asp.net/identity/overview" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dapper</h2>
        <p>
            Getting started
        </p>
        <p><a class="btn btn-default" href="https://github.com/StackExchange/dapper-dot-net">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mini Profiler</h2>
        <p>
            Getting started
        </p>
        <p><a class="btn btn-default" href="http://miniprofiler.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>asp.net Identity</h2>
        <p><a class="btn btn-default" href="http://asp.net/identity">Learn more &raquo;</a></p>
    </div>
</div>